.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-top: -20px;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: white;
}

.appHeaderLink {
  color: white;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

.Error-page {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  justify-content: center;
}

.jobCard-item {
  padding: 0 24px;
  margin: 10px;
  text-align: left;
}

.jobCard-itemInner {
  border-bottom: 1px solid #dedede;
  padding: 24px 0;
}

.jobCard-left {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: table-cell;
  padding-right: 24px;
  width: 85%;
}

.jobCard-right {
  text-align: left;
  display: table-cell;
  padding: 0 28px;
  width: 160px;
  vertical-align: top;
}

.jobCard-title {
  font-weight: 700;
  font-size: medium;
}

.plt0 {
  padding-left: 0;
}

.mrt20 {
  margin-right: 20px;
}